:root {
    --header-color: rgb(240, 248, 255);
    --paragraph-color: rgb(245, 245, 245);
    --stage-one-body-linear-gradient: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 152, 194, 1) 100%);
    --stage-two-body-linear-gradient: linear-gradient(0deg, rgb(17, 17, 0) 0%, rgb(255, 166, 0) 100%);
    --stage-four-body-linear-gradient: linear-gradient(0deg, rgb(130, 0, 134), rgb(8, 0, 20));
    --info-container-color: rgba(15, 12, 32);
    --next-stage-hover-color: rgba(255, 0, 0);
    --next-stage-color: rgba(255, 255, 255);

}