.game__info--container-stage-two-four {
  height: 100%;
  width: 100dvw;
  background-color: rgb(15, 12, 32);
  @include flex-centered;
  animation: info-box 1s linear 5s 1 normal both;
  position: absolute;
  top: 0;
}


.game__info--game-over-stage-two {
    @include game-over-screen(23s);
}