.stage__one--body {
    // background: var(--stage-one-body-linear-gradient) fixed;
    @include main-background(var(--stage-one-body-linear-gradient));
  }

  
.ball-one {
    animation-delay: 8s;
  }
  
  .ball-two {
    animation-delay: 8.5s;
  }
  
  .ball-three {
    animation-delay: 9s;
  }
  
  .ball-four {
    animation-delay: 9.5s;
  }
  
  .ball-five {
    animation-delay: 10s;
  }
  
  .ball-six {
    animation-delay: 10.5s;
  }
  
  .ball-seven {
    animation-delay: 11s;
  }
  
  .ball-eight {
    animation-delay: 11.5s;
  }
  
  .ball-nine {
    animation-delay: 12s;
  }
  
  .ball-ten {
    animation-delay: 12.5s;
  }
  
  .ball-eleven {
    animation-delay: 13s;
  }