// .game__info--container-stage-two-four {
//   height: 100%;
//   width: 100dvw;
//   background-color: var(--info-container-color);
//   @include flex-centered;
//   animation: info-box 1s linear 5s 1 normal both;
//   position: absolute;
//   top: 0;
// }

.stage__two--body {
  @include main-background(var(--stage-two-body-linear-gradient));
}

.game__info--game-over-stage-two {
    @include game-over-screen(23s);
}

.ball-one.stage-two {
    animation-delay: 8s;
  }

    .ball-two.stage-two {
        animation-delay: 8.5s;
    }

    .ball-three.stage-two {
        animation-delay: 9s;
    }


    .ball-four.stage-two {
        animation-delay: 9.5s;
    }

    .ball-five.stage-two {
        animation-delay: 10s;
    }

    .ball-six.stage-two {
        animation-delay: 10.5s;
    }

    .ball-seven.stage-two {
        animation-delay: 11s;
    }

    .ball-eight.stage-two {
        animation-delay: 11.5s;
    }

    .ball-nine.stage-two {
        animation-delay: 12s;
    }

    .ball-ten.stage-two {
        animation-delay: 12.5s;
    }

    .ball-eleven.stage-two {
        animation-delay: 13s;
    }


    input.stage-two {
        animation: fall-side-to-side 5s linear;
        animation-delay: 7s;
        animation-iteration-count: infinite;
      }
      