.stage__four--body {
    @include main-background(var(--stage-four-body-linear-gradient));
  }
  
  .game__info--game-over-stage-four {
      @include game-over-screen(27s);
  }

  input.stage-four:nth-child(odd) {
    animation-name: fall-odd;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }

    input.stage-four:nth-child(even) {
        animation-name: fall-even;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-direction: reverse;
          animation-iteration-count: infinite;
        }

    
  
  .ball-one.stage-four {
      animation-delay: 8s;
    }
  
      .ball-two.stage-four {
          animation-delay: 8.5s;
      }
  
      .ball-three.stage-four {
          animation-delay: 9s;
      }
  
  
      .ball-four.stage-four {
          animation-delay: 9.5s;
      }
  
      .ball-five.stage-four {
          animation-delay: 10s;
      }
  
      .ball-six.stage-four {
          animation-delay: 10.5s;
      }
  
      .ball-seven.stage-four {
          animation-delay: 11s;
      }
  
      .ball-eight.stage-four {
          animation-delay: 11.5s;
      }
  
      .ball-nine.stage-four {
          animation-delay: 12s;
      }
  
      .ball-ten.stage-four {
          animation-delay: 12.5s;
      }
  
      .ball-eleven.stage-four {
          animation-delay: 13s;
      }
  
  
     